<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit field</title>
</head>
<body>
<p>You want to make changes in the timing of  <%= post.username %></p>
<form method="post" action="/posts/<%=post.id%>?_method=PATCH" > 
<textarea name="caption"><%= post.caption%></textarea>
<button type="submit"> SUBMIT</button>

</form>
    
</body>
</html>