<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form </title>
</head>
<body>

<form method="post" action="http://localhost:8080/posts">
    <div>
<input type="text" name="username" placeholder="Enter you Task">
    </div>
<div>
    <hr>
<input type="time" placeholder="write Due Timing" name="caption">
</div>
<button type="submit">Submit</button>


</form>
    
</body>
</html>