<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDshow</title>
</head>
<body>

    <h2>Here is ur id details</h2>

    <p>Note id: <%= post.id %></p>
    <div class="post" style="background-color: bisque;">
        <h2 class="user"> <%= post.username %></h2>
        <h2 > <%=post.caption%></h2>

    </div>


    
</body>
</html>